:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-count {
  content: attr(value);
  font-size: 15px;
  color: black;
  background: hsl(107, 87%, 44%);
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -20px;
  top: -20px;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.cart-card__remove {
  grid-row: 1 / 3;
  grid-column: 4;
  background: none;
  border: none;
  color: red;
  font-size: 1.5em;
  cursor: pointer;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.category-box img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.category-box p {
  margin: 0;
  font-size: 1em;
  color: #333;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.hide {
  display: none;
}

/* Form */

/* 
h1,
h2 {
  margin: 0;
} */

/* h2,
#currentdate {
  color: yellow;
} */

/* main {
  margin: 10px auto;
  border: 1px solid #999;
  padding: 10px;
  max-width: 400px;
  background-color: #abe;
  box-shadow: 0 0 30px;
  text-align: center;
} */

.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.checkout-form {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

.checkoutName,
.checkoutAddress,
.paymentMethod {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkout-summary {
  /* position: absolute; */
  right: 20px;
  top: 20px;
  max-width: 300px;
  width: 100%;
}

.checkout-summary ul {
  list-style-type: none;
  padding: 0;
}

.checkout-summary li {
  margin-bottom: 10px;
}

.checkout-summary p {
  display: inline;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Success message */
.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  text-align: center;
}

#successMessage {
  background-color: #e0f7fa;
  /* Light cyan background */
  border: 2px solid #00695c;
  /* Teal border */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#successMessage p {
  color: #004d40;
  /* Darker teal */
  font-size: 24px;
  margin: 0 0 10px 0;
}

#successMessage a {
  color: #004d40;
  /* Darker teal */
  text-decoration: none;
  font-weight: bold;
}

#successMessage a:hover {
  text-decoration: underline;
}

/* Alert message in order verification */
/* alert styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  border: 1px solid darkorange;
}

.alert > p {
  margin: 0;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
